@media screen and (min-width: 768px) {
    header{
        height: 6em;
    }
    .large.bars.icon {
        display: none;
    }

    header ul{
        display: inline;
        padding: 0.3em;
        margin: 0.2em;
        text-align:right;
    }

    header ul li{
        display: inline;
        font-size: 0.9em;
        float: right;
        padding: 1em;
        padding-top: 2em;
       
    }

    header ul li a{
        padding: 0.5em;
    }

    header ul li a:hover{
        color: #fff;
    }

    .cv-container{
        width: 60%;
       height: 70em;
        overflow: hidden;
    }

    .page-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fakta-om-mig li{
        line-height: 2.2em;
        border-bottom: none;
        padding: 0;
    }

}